{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="top-posts">
            <h1>{{ category_data.title }}</h1>
        </section>
    </div>
{% endblock %}